<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link href="{% static 'liveensuredemo/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'liveensuredemo/css/custom.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <header class="text-center">
        <h1 class="heading"> LiveEnsure <sup> &reg; </sup>. Live.</h1>
        <p class="sub-heading"> Real-time authentication solution demo with your mobile device. </p>
    </header>

    <div id="content">
    	<p class="text-center marginTop-40"> Please copy API credentials from your email received from LiveEnsure, paste in below form and save to proceed to the demo. </p>
		<form action="{% url 'index' %}" method="post" class = "col-md-offset-3 col-md-6 text-center marginTop-20">
			<div class="form-group">
			{% csrf_token %}
			<label class ="label-modify" for="key">API Key:</label>
			<input class="form-control form-control-width-change" name="api_key" type="text">
			<label class ="label-modify marginTop-20" for="password">API Password:</label>
			<input class="form-control form-control-width-change marginTop-20" name="api_password" type="password">
			<label class ="label-modify marginTop-20" for="id">Agent ID:</label>
			<input name="agent_id" class="form-control form-control-width-change marginTop-20" type="text">

            <label class ="label-modify marginTop-20" for="id">Google Map Key:</label>
            <input name="map_key" class="form-control form-control-width-change marginTop-20" type="text">
			<button type="submit" class="btn btn-default btn-modified marginTop-20">Save</button>
			</div>
		</form>
    </div>
    
    <script type="text/javascript" src="{% static 'liveensuredemo/js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'liveensuredemo/js/bootstrap.min.js' %}"></script>
    <script>
        var agentId = "{{agentId}}";
        var urls = {
            host: "",
            initSession: "{% url 'initSession' %}",
            addPromptChallenge: "{% url 'addPromptChallenge' %}",
            addLocationChallenge: "{% url 'addLocationChallenge' %}",
            getCode: "{% url 'getCode' %}",
            pollStatus: "{% url 'pollStatus' %}",
        };

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>